@model Order

<div class="text-danger" asp-validation-summary="All"></div>
<form asp-action="Checkout" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
    </div>    
    <div class="form-group">
        <label asp-for="Line1">Line1</label>
        <input asp-for="Line1" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Line2">Line2</label>
        <input asp-for="Line2" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Line3">Line3</label>
        <input asp-for="Line3" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="City">City</label>
        <input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <input asp-for="GiftWrap" />
        <label>Gift wrap these items.</label>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit"> Complete Order </button>
    </div>
</form>