@page

<div class="text-center">
    <h6 class="display-6">Thanks</h6>
    <p>Your order is on its way!</p>
    <p>Order ID: @OrderId</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index"> Return to Store</a>
</div>

@functions {
    [BindProperty(SupportsGet = true)] // aşşağıdaki özelliği sayfaya kazandırmak için bu satırı kullandık
    public String? OrderId { get; set; }
}