@page "/getintouch"

<div class="text-center">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone">
        </i>
        <p>
            005 155 2630
        </p>
        <i class="fa-solid fa-address-book"></i>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, culpa consequuntur illo vitae at dolorum
            eaque repellat! Fugit officia sapiente mollitia consectetur repudiandae libero aliquam dolores quo.
            Laborum,
            eveniet doloremque!

        </p>
        <i class="fa-solid fa-mailbox"></i>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptatibus voluptatem quia. Quasi maiores
            dolore error natus. Dolore, et adipisci porro, quos provident reprehenderit nostrum quidem accusantium, sed
            consectetur veniam.
        </p>
    </div>
</div>
